PORT=3001

WORLDCUP_API_URL=http://worldcup26.ir:3050
WORLDCUP_API_TIMEOUT_MS=25000
WORLDCUP_CACHE_TTL_MS=300000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gran_dt_mundial

CORS_ORIGIN=http://localhost:3000

CURRENT_MATCHDAY=2
